<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight"><mat-icon [svgIcon]="'heroicons_outline:user-group'"></mat-icon> Egresados</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar egresado'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                [routerLink]="[ './create']"
                class="ml-4"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
            <button [color]="'primary'" class="ml-4" mat-raised-button (click)="ExportEgresadosOption('xlsx')">
                <mat-icon svgIcon="heroicons_outline:arrow-sm-down"></mat-icon>
                <span class="ml-2 mr-1">Exportar Egresados</span>
            </button>
            <button [color]="'primary'" class="ml-4" mat-raised-button (click)="ImportEgresadosOption()">
                <mat-icon svgIcon="heroicons_outline:arrow-sm-up"></mat-icon>
                <span class="ml-2 mr-1">Importar Egresados</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">



            <ng-template>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template>

        </div>

        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container *ngIf="egresadosCount > 0">

                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>

                    <!-- Table -->
                    <table
                        class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="egresados"
                        [trackBy]="trackByFn">

                        <!-- Name -->
                        <ng-container matColumnDef="titulo">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Nombres
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let egresado">
                                {{egresado.nombres}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Apellidos
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let egresado">
                                {{egresado.apellidos}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="deporte">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Cedula
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let egresado">
                                {{egresado.cedula}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lugar">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Carrera
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let egresado">
                                Ingenieria en informatica
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Egreso
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let egresado">
                                {{egresado.periodo_egreso}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th
                                class="w-24 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef>
                                Acciones
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let egresado">
                                <div>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(egresado.id)">
                                        <mat-icon class="icon-size-5">remove_red_eye</mat-icon>
                                    </button>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(egresado.id)">
                                        <mat-icon class="icon-size-5">edit</mat-icon>
                                    </button>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(egresado.id)">
                                        <mat-icon class="icon-size-5">delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="egresadosTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-hover"
                            mat-row
                            *matRowDef="let egresado; columns: egresadosTableColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    showFirstLastButtons 
                                    aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </ng-container>
        </div>

    </div>

</div>
