<h2 mat-dialog-title>Exportar Egresados</h2>
<!-- Alert -->

<label id="radio-group-label mb-2">Selecciona el formato a exportar</label>
<mat-radio-group role="radiogroup" style="margin-top: 20px;" class="mat-radio-group flex flex-col"
    aria-labelledby="radio-group-label"
    [(ngModel)]="export_type">
    <mat-radio-button *ngFor="let type of types" [value]="type">
      .{{type}}
    </mat-radio-button>
</mat-radio-group>
<fuse-alert
  class="p-4"
  *ngIf="showAlert"
  [appearance]="'outline'"
  [showIcon]="false"
  [type]="alert.type">
  {{alert.message}}
</fuse-alert>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="ExportEgresadosOption()" cdkFocusInitial>Exportar</button>
</mat-dialog-actions>
