<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"  (click)="listCuestionariosRoute()">Cuestionarios y Encuestas</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Gestionar preguntas</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <mat-icon [svgIcon]="'heroicons_outline:support'"></mat-icon> Gestionar preguntas - Que tecnologias de desarrollo usas...
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p">
        <div style="margin-top: 10px; width: 100%; text-align: right;">
            <button
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Banco de preguntas</span>
            </button>
        </div>
        <div class="max-w-full">
            <form class="grid grid-cols-2 gap-4 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Titulo</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo Pregunta</mat-label>
                        <mat-select>
                          <mat-option>
                            Seleccion multiple
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="flex flex-col gt-md:flex-row" style="max-height: 120px;">
                    <mat-accordion style="margin-top: 20px; margin-bottom: 20px;">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Opciones de respuesta
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </form>
        </div>
        <div style="margin-top: 10px; width: 100%; text-align: right;">
            <button
                [routerLink]="[ './create']"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar Pregunta</span>
            </button>
        </div>
    </div>
    <div class="flex-auto p-6 sm:p">
        <div class="max-w-full">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        1- En que sector trabajas?
                      </mat-panel-title>
                      <mat-panel-description>
                        Respuesta seleccion multiple
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        2 - Cuanto tiempo de experiencia tienes como desarrollador de software?
                      </mat-panel-title>
                      <mat-panel-description>
                        Respuesta seleccion multiple
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>