<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"  (click)="listBancoRoute()">Banco</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Gestionar Preguntas</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10">
                    <mat-icon [svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
                        <span>Gestionar Preguntas de Banco: {{banco.nombre}}</span>
                </h2>
            </div>
        </div>
    </div>
    <!-- Alert -->
    <fuse-alert
        class="p-4"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type">
        {{alert.message}}
    </fuse-alert>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p">
        <div class="max-w-full">
            <div class="grid grid-cols-2 gap-4 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Titulo</mat-label>
                        <input matInput [(ngModel)]="bancoPregunta.pregunta" name="pregunta" value="{{bancoPregunta.pregunta}}">
                    </mat-form-field>
                    <span *ngIf="bancoPregunta.tipoPregunta_id == 1 || bancoPregunta.tipoPregunta_id == 2">Opciones de respuesta</span>
                    <div class="flex flex-col gt-xs:flex-row" *ngIf="bancoPregunta.tipoPregunta_id == 1 || bancoPregunta.tipoPregunta_id == 2">
                        <mat-form-field
                        *ngFor="let opcion of opciones; index as i; trackBy:customTrackBy"
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Opción {{i + 1}}</mat-label>
                        <input matInput [(ngModel)]="opciones2[i]">
                        <button
                            (click)="deleteOption(i)"
                            [color]="'red'">
                            <span class="ml-2 mr-1"><mat-icon
                                class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </span>
                        </button>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 10px; width: 100%; text-align: right;" *ngIf="bancoPregunta.tipoPregunta_id == 1 || bancoPregunta.tipoPregunta_id == 2">
                        <button
                            (click)="addOption()"
                            mat-flat-button
                            [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Opción adicional</span>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col gt-md:flex-row" style="max-height: 120px; ">
                    <mat-form-field class="fuse-mat-no-subscript w-full flex-auto gt-md:pl-3 mb-4">
                        <mat-label>Tipo de pregunta</mat-label>
                        <mat-select [(ngModel)]="bancoPregunta.tipoPregunta_id" name="tipoPregunta" value="1">
                            <ng-container *ngFor="let tipo of tipoPreguntas">
                                <mat-option [value]="tipo.id">{{tipo.descripcion}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px; width: 100%; text-align: right;">
            <button
                (click)="savePreguntaBanco()"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Guardar</span>
            </button>
        </div>
    </div>
    <div class="flex-auto p-6 sm:p">
        <div class="max-w-full">
            <p style="font-size: 20px; margin-left: 10px; margin-top: -50px;" *ngIf="!bancoPreguntas || bancoPreguntas.length == 0">No hay preguntas en este banco</p>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let pregunta of bancoPreguntas; index as i" style="margin-bottom: 0px;">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{i + 1}} - {{ pregunta.pregunta }}
                      </mat-panel-title>
                      <mat-panel-description>
                        Tipo: {{ pregunta.descripcion }} {{ pregunta.id }}
                        <button
                            style="margin-left: auto; margin-right: 100px;"
                            (click)="deletePregunta(pregunta.pregunta_id)"
                            [color]="'red'">
                            <span class="ml-2 mr-1"><mat-icon
                                class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            </span>
                        </button>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p *ngIf="pregunta.nombre == 'seleccion' || pregunta.nombre == 'multiple'">Opciones:</p>
                    <p *ngIf="pregunta.nombre == 'texto' || pregunta.nombre == 'numerica'">Este tipo de pregunta no tiene opciones</p>
                    <p *ngIf="pregunta.nombre == 'rango'">Opciones: del 1 al 10</p>
                    <ul *ngIf="pregunta.opciones">
                        <li *ngFor="let opcion of pregunta.opciones">
                            - {{opcion}}
                        </li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
