<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"  (click)="listCuestionariosRoute()">Gestionar cuestionarios</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Resultados y Estadisticas</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon> Resultados y Estadisticas - {{cuestionario.nombre}}
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p">
        <div class="max-w-full">
            <form class="grid grid-cols-2 gap-4 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar Pregunta</mat-label>
                        <mat-select  [(value)]="preguntaSelect"  (selectionChange)="onChangePregunta($event.value)">
                          <mat-option [value]="'Todas'">
                            Todas
                          </mat-option>
                          <mat-option *ngFor="let pregunta of cuestionarioPreguntas" [value]="pregunta.pregunta">
                            {{ pregunta.pregunta }} - {{ pregunta.nombre }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo Grafico</mat-label>
                        <mat-select [(value)]="chartSelect">
                          <mat-option *ngFor="let chart of chartSelectOptions" [value]="chart">
                            {{ chart }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-col gt-xs:flex-row">
                    <div class="flex flex-col">
                        <div class="font-medium text-secondary">
                            <span>Datos</span>
                            <div style="position: absolute; margin-left: 50px; margin-top: -30px;">
                                <button [color]="'primary'"mat-flat-button (click)="openExportDialogBtn()">
                                    <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
                                    <span class="ml-2 mr-1">Exportar Datos</span>
                                </button>
                                <button [color]="'primary'"mat-flat-button (click)="openExportRDialogBtn()">
                                    <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
                                    <span class="ml-2 mr-1">Exportar Respuestas</span>
                                </button>
                            </div>
                        </div>
                        <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                            <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                <div  class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                    {{ completeTotal }}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Total Veces Completada</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                     {{ completeToday }}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Completadas Hoy</div>
                            </div>
                            <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{ completeMonth }}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Completadas este Mes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin-top: 10px; width: 100%; text-align: right;">
            <button *ngIf="chartSelectOptions.length > 0"
                (click)="generateChart()"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
                <span class="ml-2 mr-1">Generar Grafico</span>
            </button>

            <button *ngIf="chartSelectOptions.length == 0"
                disabled
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
                <span class="ml-2 mr-1">Generar Grafico</span>
            </button>
        </div>
        <div *ngIf="showChart" class="max-w-full">
            <form class="grid gap-4 mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                <div class="font-medium text-secondary">{{ chartTitle }}</div>
                <div id="chart">
                    <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [plotOptions]="chartOptions.plotOptions"
                    [responsive]="chartOptions.responsive"
                    [xaxis]="chartOptions.xaxis"
                    [legend]="chartOptions.legend"
                    [fill]="chartOptions.fill"
                  ></apx-chart>
                </div>
                <div *ngIf="preguntaSelect == 'Todas'">
                    <div *ngFor="let pregunta of cuestionarioPreguntas; index as i">
                        <span style="font-weight: bold;"> {{ i + 1}}. {{pregunta.pregunta}} - Tipo: {{ pregunta.nombre }}</span>
                        <div *ngIf="pregunta.opciones.length > 0 && pregunta.opciones[0] != ''">
                            <span *ngFor="let opcion of pregunta.opciones; index as j"> --- Opcion: {{ j + 1}}. {{opcion}} <br></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
