<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight"><mat-icon [svgIcon]="'heroicons_outline:user-group'"></mat-icon> Usuarios</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar usuario'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                [routerLink]="[ './create']"
                class="ml-4"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
            <button [color]="'primary'" class="ml-4" mat-raised-button (click)="openImportDialog()">
                <mat-icon svgIcon="heroicons_outline:arrow-sm-up"></mat-icon>
                <span class="ml-2 mr-1">Importar Usuarios</span>
            </button>
            <button [color]="'primary'" class="ml-4" mat-raised-button (click)="openExportDialog()">
                <mat-icon svgIcon="heroicons_outline:arrow-sm-down"></mat-icon>
                <span class="ml-2 mr-1">Exportar Usuarios</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">



            <ng-template>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no products!</div>
            </ng-template>

        </div>

        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container *ngIf="usuariosCount > 0">

                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>

                    <!-- Table -->
                    <table
                        class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'name'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="usuarios"
                        [trackBy]="trackByFn">

                        <!-- Name -->
                        <ng-container matColumnDef="nombres">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Nombre
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let usuario">
                                {{usuario.nombres}} {{usuario.apellidos}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="correo">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                Correo
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let usuario">
                                {{usuario.correo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th
                                class="w-24 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef>
                                Acciones
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let usuario">
                                <div>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(usuario.id)">
                                        <mat-icon class="icon-size-5">remove_red_eye</mat-icon>
                                    </button>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(usuario.id)">
                                        <mat-icon class="icon-size-5">edit</mat-icon>
                                    </button>
                                    <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        (click)="toggleDetails(usuario.id)">
                                        <mat-icon class="icon-size-5">delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="usuariosTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-hover"
                            mat-row
                            *matRowDef="let usuario; columns: usuariosTableColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    showFirstLastButtons 
                                    aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </ng-container>
        </div>

    </div>

</div>
